* {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(pix/pexels-pixabay-164527.jpg);
    height: 100vh;
    backdrop-filter: blur(20px);
    animation: change 15s ease infinite;
    animation-fill-mode: both;
}

@keyframes change {
    0% {
        background: url(pix/songe.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    20% {
        background: url(pix/yel.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    40% {
        background: url(pix/songe.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    60% {
        background: url(pix/anime.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    80% {
        background: url(pix/car.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background: url(pix/we.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.div {
    height: 500px;
    width: 900px;
    backdrop-filter: blur(90px);
    background: rgba(255, 255, 255, 0.307);
    position: relative;
    left: 320px;
    top: 150px;
}

.card {
    position: relative;
    top: 140px;
    left: 20px;
}

.circle {
    position: relative;
    top: -90px;
    left: 43%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: change 15s ease infinite;
    animation-fill-mode: both;
    backdrop-filter: blur(50px);
}

.trail {
    text-align: center;
}

.p {
    font-size: 2rem;
    color: rgb(255, 0, 0);
}

#important {
    color: blueviolet !important;
}